<h1>Editing bet</h1>

<%= render 'form' %>

<h2>Choices</h2>

<%= link_to "Add Choice for this bet", new_bet_choice_url(@bet)  %>

<%if @bet.choices.count == 0 %>
	No choice for this bet.
<%else%>
	<% @bet.choices.each do |choice| %>
		<ul>
			<li><%=choice.description%> - <%= link_to 'Edit', edit_bet_choice_url(@bet, choice) %></li>
		</ul>
	<%end%>
<%end%>

<br/>
