/*

http://colorschemedesigner.com/#2.21TqqNh----

 Primary Color:
89F32B	5F7A47	224900	C7FF96	F4FFEA
Complementary Color:
F32A6A	794757	490017	FF96B7	FFEAF1
*/


body { background-color: #fff; color: #333; }

a { color: #F32A6A; }
a:visited { color: #F32A6A; }
a:hover { color: #FF96B7; background-color:#794757; }


h1 {color: #224900}



#hd { height:80px; background-color: #C7FF96; }

#hd h1 {color: #5F7A47; font-size: 3em; font-family: 'Marvel', sans-serif; padding: 5px}

