/*

http://colorschemedesigner.com/#2.21TqqNh----

 Primary Color:
89F32B	5F7A47	224900	C7FF96	F4FFEA
Complementary Color:
F32A6A	794757	490017	FF96B7	FFEAF1
*/


body { background-color: #fff; color: #333; }

a { color: #F32A6A; }
a:visited { color: #F32A6A; }
a:hover { color: #FF96B7; background-color:#794757; }


h1 {color: #B317DA; font-size: 2.0em;}
h2 { color: #73088E; font-size: 1.4em;}

input[type="submit"] {
  font-size: 16px;
    padding: 8px;
}

/*Header*/
#hd { background-color: #C7FF96; }
#hd h1 {color: #5F7A47; font-size: 3.4em; font-family: 'Marvel', sans-serif; padding: 5px; margin: 0}
#hd h1 a {color: inherit; text-decoration: none;}
#hd #sign { margin: 35px 5px 0 0;}


.choices li {list-style: none; margin-left: 5px;}
.choices  .winner {background-color: #C3FA7C }


