<tr>
    <td><%= link_to bet.title, bet_path(bet) %> </td>
    <td>
        <% if bet.open? %>
            <%=link_to "Close", close_bet_path(bet) %>,
        <% end %>
        <% if bet.editable? %>
            <%=link_to "Edit", edit_bet_path(bet) %>,
        <% end %>
        <%= link_to 'Destroy', bet, :confirm => 'Are you sure?', :method => :delete %>
    </td>
</tr>