<h1>Bidders list</h1>

<table>
    <tr>
      <th align="left">Bidder name</th>
      <th align="left">Bets created</th>
      <th align="left">Brouzouf</th>
    </tr>

  <% @bidders.each  do |user| %>
     <tr>
       <td><%= link_to user.name, user %></td>
       <td><%= user.bets.count %></td>
       <td><%= user.brouzouf %></td>
     </tr>

<% end %>

</table>
