<h1><%=@user.name%>'s Public Page</h1>
	

<h3><%= pluralize(number_with_precision(@user.brouzouf, :precision => 2), "Brouzouf" ) %> </h3>

<h2>Bets listing</h2>

<%= render :partial => 'show_bets', :locals => {:user => @user} %>
